body {
  margin: 0;
  padding-top:64px
}
header{
  position:fixed!important;
  top:0;
  left:0;
}
.footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.attribution {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 100%);
  /* background: #2b8bee; */
  padding: 5px;
}

ul {
  margin:0;
  padding:0 0 0 15px;
}

li {
  margin:3px 0;
}

.openHours li{
  margin:3px 0 10px;
}
