body {
  margin: 0;
  padding-top:64px;
  background: #bbb;
}
header{
  position:fixed!important;
  top:0;
  left:0;
}
.footer {
  background: linear-gradient(180deg, #bbb 28%, #fff 136%);
  padding-bottom:40px;
}

.attribution {
  background: #81B0C5;
  padding: 5px;
}

ul {
  margin:0;
  padding:0 0 0 15px;
}

li {
  margin:3px 0;
}

.openHours li{
  margin:3px 0 10px;
}

.staff{
  margin:auto;
}

.table{
  background: #81B0C5; 
  margin-bottom:20px;
  font-weight:bold;
}

.table .svg{
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
  width:100%;
  height:100%;
}

.table .content{
  z-index:2;
  padding:40px 20px;
  position:relative;
  
}

.content h6{
  font-weight:bold!important;
}
